*, ::before, ::after
{
    box-sizing: border-box;
    padding: 0;
    height: 0;
}
body
{
    background-repeat: no-repeat;
    background-image: url("../img/fond_gris.jpg");
}
#phrase
{
    width: 50%;
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    line-height: 2rem;
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    color: white;
}
#ow
{
    font-size: 1.5rem;
    font-style: italic;
}
#container
{
    width: 90%;
    max-width: 1000px;
    height: 800px;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: slategrey; */
}
.carre
{
    width: 300px;
    height: 300px;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
#carre_1
{
    background-image: url(../img/carreCV.png);
    /* background: rgb(32, 138, 32); */
}
#carre_1:hover
{
    transition: 0.5s;
    background-image: url(../img/carreCV2.png);
}
#carre_2
{
        background-image: url(../img/formation.png);
    /* background: rgb(46, 62, 155); */
}
#carre_2:hover
{
    transition: 0.5s;
    background-image: url(../img/formation2.png);
}
#carre_3
{
    background-image: url(../img/experience.png);
    /* background: rgb(99, 18, 69); */
}
#carre_3:hover
{
    transition: 0.5s;
    background-image: url(../img/experience2.png);
}
#carre_4
{
    background-image: url(../img/creations.png);
    /* background: rgb(32, 138, 32); */
}
#carre_4:hover
{
    transition: 0.5s;
    background-image: url(../img/creations2.png);
}
#carre_5
{
    background-image: url(../img/projetsRea.png);
    /* background: rgb(46, 62, 155); */
}
#carre_5:hover
{
    transition: 0.2s;
    background-image: url(../img/projetsRea2.png);
}
#carre_6
{
    background-image: url(../img/contact.png);
    opacity: 0.8;
    /* background: rgb(99, 18, 69); */
}
#carre_6:hover
{
    transition: 0.5s;
    background-image: url(../img/contact2.png);
    /* opacity: 0.7; */
}
#ecranFormation
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.85;
}
#fenetreFormation
{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/fond-formation.png);
    background-color: rgb(114, 61, 61);
    width: 500px;
    height: 500px;
    padding: 15px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.titreBoite
{
    display: block;
    /* position: absolute; */
    /* display: flex;
    flex-wrap: wrap;
    align-items: flex-start; */
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 2.2rem;
    width: 100%;
    /* height: 3rem; */
    margin-bottom: 0 0 0 0;
}
/* .txtBoite
{
    /* position: absolute; */
    font-family: 'Lato';
    font-size: 1rem;
    color: white;

} */
.icn
{
    width: 3rem;
    height: 3rem;
}
.txtBoite #fenetreFormation
{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* height: fit-content; */
}
.ligneBoite
{
    width: 100%;
    margin: 30px 0px 0px 45px;
    /* display: block; */
    /* align-items: center; */
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    font-family: 'Lato';
}
a
{
    text-decoration: none;
}
.txtLight
{
    font-family: 'Lato';
    color: white;
    font-weight: 300;
    margin: 0px 0px 0px 45px;
    height: fit-content;
}

.exp
{
    color: white;
    font-size: 0.8rem;
    font-weight: 300;
    font-style: italic;
}
#close
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 3rem;
}

/* media queries */

@media screen and (max-width : 740px)
{
    #phrase
    {
    font-size: 1.6rem;
    /* padding: 1rem; */
    }
}
/* @media screen and (max-width : 400px)
{
    #phrase
    {
    font-size: 1.5rem; */
    /* padding: 1rem; */
    }
}