*, ::before, ::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    background-repeat: no-repeat;
    background-image: url("../img/fond_gris.jpg");
}
.container
{
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    max-width: 1000px;
    height: fit-content;
    min-height: 500px;
}
#phrase
{
    /* position: absolute; */
    /* margin-left: 30%; */
    font-family: 'Poiret One', cursive;
    font-size: 1.7rem;
    line-height: 2rem;
    /* width: 80%; */
    max-width: 800px;
    z-index: 500;
    margin: auto;
    /* margin-top: 2rem; */
    color: white;
}
#ow
{
    font-size: 1.2rem;
    font-style: italic;
}
#grid1
{
    display: grid;
    margin: auto;
    grid-template-columns: 1fr repeat(3);
    grid-template-rows: 1fr repeat(2);
    /* background-color: cornflowerblue; */
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    min-height: 500px;
}
.carre
{
    background-size: contain;
    background-repeat: no-repeat;
}
#carre_1 /* Xtof */
{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../img/carreCV.png");
    background-position-x: right;
    background-position-y: bottom;
}
#carre_1:hover
{
    transition: 0.5s;
    opacity: 0.8;
    background-image: url(../img/Xtof2.png);
}
#carre_2 /* Formation */
{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(../img/formation.png);
    background-position-x: right;
    background-position-y: top;
}
#carre_2:hover
{
    transition: 0.5s;
    background-image: url(../img/formation2.png);
}
#carre_3 /* Expérience */
{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../img/experience.png);
    background-position-x: left;
    background-position-y: bottom;
}
#carre_3:hover
{
    transition: 0.5s;
    background-image: url(../img/experience22.png);
}
#carre_4 /* Loisirs */
{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../img/creations.png);
    background-position-x: center;
    background-position-y: top;
}
#carre_4:hover
{
    transition: 0.5s;
    background-image: url(../img/creations2.png);
}
#carre_5 /* Compétences */
{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(../img/competences.png);
    background-position-x: center;
    background-position-y: bottom;
}
#carre_5:hover
{
    transition: 0.2s;
    background-image: url(../img/competences2.png);
}
#carre_6 /* Contact */
{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../img/contact.png);
    background-position-x: left;
    background-position-y: top;
}
#carre_6:hover
{
    transition: 0.5s;
    background-image: url(../img/contact2.png);
    /* opacity: 0.7; */
}

/* Fenêtres & écrans */
.ecrans
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 200%;
    background-color: black;
    opacity: 0.85;
}
.fenetres
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    opacity: 0.95;
    border-style: solid;
    border-width: 1px;
    padding: 10px 20px 20px 20px;
    max-height: 90vh;
    overflow-y: scroll;
    z-index: 1000;
}
#ecranXtof
{
    visibility: hidden;
}
#fenetreXtof
{
    background-color: rgb(27, 16, 6);
    border-color:  rgb(99, 58, 31);
}
#ecranCompetences
{
    visibility: hidden;

}
#fenetreCompetences
{
    background-color: rgb(52, 37, 6);
    border-color:  rgb(125, 102, 46);
}
#ecranCoordonnees
{

    transform: translate(-50%, -50%);
    visibility: hidden;
}
#fenetreCoordonnees
{
    background-color: rgb(43, 8, 15);
    border-color:  rgb(147, 59, 94);
}
/* Écran & fenêtre formation */
#ecranFormation
{
    visibility: hidden;
}
#fenetreFormation
{
    background-color: rgb(36, 17, 46);
    border-color:  rgb(98, 61, 103);
}
/* Écran & fenêtre expérience */
#ecranExperience
{
    visibility: hidden;
}
#fenetreExperience
{
    background-color: rgb(0, 25, 30);
    border-color:  rgb(0, 108, 115);
}
/* Écran & fenêtre loisirs */
#ecranLoisirs
{
    visibility: hidden;
}
#fenetreLoisirs
{
    background-color: rgb(7, 23, 34);
    border-color:  rgb(49, 69, 104);
}
#fenetreInformatique
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
    width: 305px;
    height: fit-content;
    background-color: rgb(52, 37, 6);
    padding: 0px 0px 15px 15px;
    opacity: 0.9;
    z-index: 1000;
    border-style: solid;
    border-color:  rgb(125, 102, 46);
    border-width: 1px;
}
.macWin
{
    width: 230px;
    height: 3,2rem;
    margin: auto;
}
#col1
{
    width: 139px;
}
#col2
{
    width: 145px;
}
/* Feuilles de style des textes des boîtes */
.titreBoite
{
    font-family: 'Poiret One', cursive;
    color: white;
    font-size: 2.5rem;
    width: 100%;
}
.ligneBoite
{
    width: 85%;
    margin: 15px 0px 0px 0px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: white;
    font-family: 'Lato';
}
.ligneBoiteInfo
{
    width: 85%;
    margin: 15px 0px 0px 0px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: white;
    font-family: 'Lato';
}
.textBoiteSupInfo
{
    font-family: 'Lato';
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
}
#titreBoiteX
{
    font-family: 'Poiret One', cursive;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    width: 100%;
}
#textBoiteX
{
    font-family: 'Lato';
    margin: 10px 0px 0px 20px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
}
.ligneBoiteX
{
    width: 85%;
    margin: 10px 40px 0px 00px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: white;
    font-family: 'Lato';
}
.ligneBoiteFormation
{
    width: 85%;
    margin: 10px 0px 0px 45px;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: white;
    font-family: 'Lato';
}
.textBoite
{
    font-family: 'Lato';
    margin: 0px 0px 0px 25px;
    line-height: 1.5rem;
    font-size: 1rem;
    color: white;
}
.expBoite
{
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    margin: 0px 0px 0px 25px;
    width: 85%;
    line-height: 1.2rem;
    font-size: 1rem;
    color: white;
}
.spanIta
{
    font-style: italic;
}
.close
{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}
#icnXtof
{

    margin: auto;
    width: 200px;
    height: fit-content;
}
.icn
{
    width: 3rem;
    height: 3rem;
}
.icn2
{
    width: 2rem;
    height: 2rem;
}
.icn3
{
    width: 1.5rem;
    height: 1.5rem;
}
.icn4
{
    /* width: 2rem; */
    height: 2rem;
}
#retourCompetences
{
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    margin: 15px 0px 0px 20px;
    width: 85%;
    line-height: 1rem;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}
.fonDiv
{
    background-color: black;
    opacity: 0.5;
}
a
{
    text-decoration: none;
}
.portfolio
{
    display: inline-block;
    width: 280px;
    font-style: italic;
    font-size: 1.3rem;
    cursor: pointer;
}
.portfolio::after
{
    content: "";
    display: block;
    margin: 4px auto 0 auto;
    width: 0px;
    height: 1px;
    border-radius: 1px;
    background-color: white;
    transition: width 0.2s ease-in-out;
}
.portfolio:hover::after
{
    width: 100%;
}

@media screen and (max-width : 600px)
{
    #phrase
    {
    font-size: 1.4rem;
    /* padding: 1rem; */
    }
    #ow
    {
        font-size: 1rem;
    }
    #grid1
    {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
    }
    #carre_2
    {
        grid-column: 2/3;
        grid-row: 2/3;
        background-position-x: left;
        background-position-y: center;
    }
    #carre_3 /* Xtof */
    {
        grid-column: 1/2;
        grid-row: 2/3;
        background-position-x: right;
        background-position-y: center;
    }
    #carre_4
    {
        grid-column: 1/2;
        grid-row: 3/4;
        background-position-x: right;
        background-position-y: top;
    }
    #carre_5
    {
        grid-column: 2/3;
        grid-row: 1/2;
        background-position-x: left;
        background-position-y: bottom;
    }
    #carre_6
    {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

